data/
.ipynb_checkpoints
.bin
*.db

gc_bucket_key.json
working_notes.md


*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store